{% extends 'app/base.html' %}
{% block back_button %}{% endblock %}


{% block panel_title %}{{ panel_title }}{% endblock %}

{% block panel_body %}
    <div class="container">
      <form method="post">
        <div class="form-group">
            <div class="col-sm-5">
                <form method="post">
                    {% csrf_token %}
                    {{ input_name }}: <input name="input_val" value="{{ input_value_name }}">
                    <button type="submit" class="btn btn-success" name="{{ button_id_name }}" value="{{ input_val }}">{{ button_name }}</button>
                </form>
                    <a href="{{ request.META.HTTP_REFERER|escape }}" type="submit" class="btn btn-danger" name="iptal">Iptal</a>
            </div>
        </div>
      </form>
    </div>
{% endblock %}
