{% extends 'app/base.html' %}

{% block back_button %}
<a href="{% url 'app:oda-list' bina_slug=daire.bina.slug daire_pk=daire.pk %}" class="btn btn-outline-secondary"><em class="far fa-arrow-alt-circle-left fa-2x"></em></a>
{% endblock %}

{% block panel_title %}{{ daire }} / {{ oda }}{% endblock %}

{% block panel_title_button %}
    <a type="button" href="{% url 'app:esya-ekle' bina_slug=daire.bina.slug daire_pk=daire.pk oda_slug=oda.slug%}" class="btn btn-sm btn-success">+ Yeni Esya</a>
{% endblock %}

{% block table_column_title %}
  <th scope="col">Esyalar</th>
  <th scope="col">Deger</th>
{% endblock %}

{% block table_body %}
  {% for esya in esyalar %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ esya }}</td>
      <td>{{ esya.price }}</td>
      <td align="center">
        <a href="{% url 'app:esya-guncelle' pk=esya.pk%}" class="btn btn-outline-dark"><em class="fas fa-redo"></em></a>
        <form action="{% url 'app:esya-sil' pk=esya.id %} " method="post">
          {% csrf_token %}
          <button class="btn btn-outline-danger" name="delete_item" value="{{ esya.id }}"><em class="fa fa-trash"></em></button>
        </form>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
